@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  width: 15px; /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background-color: #f4f4f4; /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: gray; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 3px solid #f4f4f4; /* creates padding around scroll thumb */
}

body .swiper-button-prev,
body .swiper-button-next {
  color: #000000;
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.33);
  padding: 2rem 1.5rem;
}

body .swiper-pagination-bullet-active {
  background-color: #ffffff;
  border: 1px solid #000000;
}
